@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg bg-light mb-3" style="max-width: 24rem; border-radius: 10px;">
        <div class="card-header bg-primary text-white" style="border-radius: 10px 10px 0 0;">
            Welcome To YouTube API Project
        </div>
        <div class="card-body">
            <h4 class="card-title">YouTube API</h4>
            <p class="card-text">This website is used for searching video from YouTube using a free API.</p>
        </div>
    </div>
</div>
